<style>
    .footer {
        display: flex;
        font-size: 1.4rem;
        background-color: #e4e4e4;
        color: black;
        padding: 20px;
        margin-top: 10px;
        float: right;
    }

    .symbol {
        text-align: right;
    }
</style>

<div class="container-fluid footer">
    <div class="text">
        This is copyright to prathmesh futane
    </div>
    <div class="symbol">
        &copy
    </div>
</div>