{{!-- <style>
    .form {
        width: 70%;
    }
</style> --}}

<section class="form container">
    <form action="/contact" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="name" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter name">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="number" name="number" class="form-control" id="exampleInputPassword1"
                placeholder=" number">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Message</label>
            <input type="name" name="message" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter message">
        </div>

        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>